html {
    --mdpopups-font-mono: Iosevka;
}

div.mdpopups {
    font-size: 0.9rem;
    line-height: 2;
}

.mdpopups kbd {
    font-size: 0.9em;
}

.mdpopups .admonition-title {
    font-size: 1.1em;
}

.mdpopups .highlight {
    font-size: 1em;
}

.mdpopups div.highlight,
.mdpopups pre.highlight {
    font-size: 1em;
}

div.mdpopups pre,
div.mdpopups code {
    line-height: 1.2;
}

.actions {
    border-top: 1px solid color(var(--foreground) alpha(0.1));
    background-color: transparent;
    padding: 0.25rem 0 0 0;
    margin-top: 0.25rem;
    font-size: 0.8em;
    color: color(var(--foreground) alpha(0.6));
}
